# Arquivos de ambiente virtual
.env
venv
.venv

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente Python
.Python
env/

# IDEs e editores
.vscode/
.idea/
.cursor/
.antigravity/
.claude/
.gemini/

# Sistema operacional
.DS_Store

# Logs e arquivos temporários
*.log
*.tmp
temp/

#skills
.skills/
.agents/
.agent/